body{
    font-family: 'Montserrat', sans-serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Urbanist', sans-serif;
}
.SECTION{
    margin-bottom: 100px;
}
.flexible-container{
    display: flex;  
    margin: 50px;
}
.upmostpart-style{
    padding-left: 20px;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}
.top-header{
    border-left: 4px solid;
    border-image: linear-gradient(rgb(255, 30, 0),rgb(255, 72, 0)) ;
    border-image-slice: 1;
    margin-left: 2px;
    margin-top: 100px;
    
}
h1{
    font-weight: bold;
    margin-left: 10px;
    font-size: 50px;
    
}
.header-style{
    color: rgb(230, 100, 53);
}
p{
    color: black;
    font-size: 20px;
    margin-left: 5px;
    padding: 5px;
}
.upmostpart-style p{
    padding: 5;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 94, 0),rgb(255, 60, 0));
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    margin-left: 5px;
}
#scrol{
    margin-top: 20px;
}
.upmostpart-style img{
    margin-top: 50px;
    width: 80%;
}


.mission{
    display: flex;
    margin-left: 600px;
}
.e-1{
    width: 40%;
    padding-left: 20px;;
    margin-right: 20px;
    box-shadow: 10px 10px 20px rgb(30, 46, 139);
    border-radius: 10px;
    background-color: rgb(185, 159, 209);
}
.e-1 img{
    width: 50%;
}

.e-2{
    width: 40%;
    padding-left: 20px;;
    margin-right: 20px;
    box-shadow: 10px 10px 20px rgb(26, 25, 25);
    border-radius: 10px;
    background-color: rgb(146, 240, 240);
}
.e-2 img{
    width: 50%;
}

.e-3{
    width: 40%;
    padding-left: 20px;;
    margin-right: 10px;
    box-shadow: 10px 10px 20px rgb(73, 72, 72);
    border-radius: 10px;
    background-color: rgb(223, 223, 223);
}
.e-3 img{
    width: 50%;
}

.back-decoration{
    background-image: url('images/shapes/shape-7.png');
    background-repeat: no-repeat;
    background-position: right;
}
h2{
    margin: 10px;
    
}


.new{
    width: 50%;
    height:500px;
    padding-left: 20px;;
    margin-right: 20px;
    box-shadow: 10px 10px 20px rgb(30, 46, 139);
    border-radius: 10px;
    background-color: rgb(175, 172, 172);
}
#designer{
    margin-top: 20px;
    margin-left: 42%;
}
#frontend{
    margin-top: 20px;
    margin-left: 50%;
}
.new p{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 900;
}
.new h3{
    margin-left: 40%;
    
}
.new span{
    color: rgb(166, 62, 226);
}
.unorder{
    list-style-type: none;
    margin-left: 39%;
    font-size: 18px;
}



.foot{
    font-size: 100px;
    text-align: center;
    margin-bottom: 20px;
    background-color:rgb(173, 113, 241);
   
}



